.heading {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #BAD;
  color: #FFF;

  H1 {
    font-size: 5em;
  }
   
  p {
    font-size: 1.5em;
  }
}
